{% extends 'base.html' %}

{% block title %}View Details{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <br>
    <div style="display: flex; align-items: center; justify-content: space-around; margin-left:100px; width:90%; gap:30px;">
        <div class="col-6">
            <img src="{{car.image.url}}" style="width: 90%; class="card-img-top" alt="...">
        </div>
        <div class="col-6">
            <h5 class="card-title">{{ car.carName }}</h5>
            <p class="card-title">Price: {{ car.carPrice }}$</p>
            <p class="card-text">Quantity: {{ car.carQuantity }}</p>
            <p class="card-text">Description: {{ car.carDescription }}</p>
            <p>
                Brand:
                {% if car.brands %}
                    {{ car.brands.brandName }}
                {% else %}
                    No Brand
                {% endif %}
            </p>            
            
            {% if user.is_authenticated %}
                <a href="{% url 'buy_now' car.id %}" class="btn btn-primary btn-sm">Buy Now</a>
            {% endif %} 
        </div>
    </div>

    <br><br><br><br><br>

    <div class="container">
        <div class="card m-2 col-sm-10 mx-auto">
            <h5 class="p-3">Total Comments : {{comments | length}}</h5>
            {% for comment in comments %}
                <div class="card-body border m-2">
                    <p><b>{{comment.name}}</b> {{comment.created_on}}</p>
                    <p>{{comment.body}}</p>
                </div>
            {% endfor %}
        </div>
    
        <div class="card m-2 col-sm-10 mx-auto">
            <div class="card-body">
                <form method="post">
                    <h1>Add Comment</h1>
                    {% csrf_token %}
                    {{comment_form | crispy}}
                    <button class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>

    {% comment %} <div class="card m-2">
        <h5 class="p-3">Total Comments : {{comments | length}}</h5>
        {% for comment in comments %}
      <div class="card-body border m-2">
            <p><b>{{comment.name}}</b> {{comment.created_on}}</p>
            <p>{{comment.body}}</p>
        </div>
        {% endfor %}
    </div>
    
    <div class="card m-2">
        <div class="card-body">
            <form method="post">
                <h1>Add Comment</h1>
                {% csrf_token %}
                {{comment_form | crispy}}
    
                <button class="btn btn-primary">Submit</button>
        </div>
    </div> {% endcomment %}



    {% comment %} <div class="card m-2 col-sm-6">
        <h5 class="p-3">Total Comments : {{comments | length}}</h5>
        {% for comment in comments %}
            <div class="card-body border m-2">
                <p><b>{{comment.name}}</b> {{comment.created_on}}</p>
                <p>{{comment.body}}</p>
            </div>
        {% endfor %}
    </div>
    
    <div class="card m-2 col-sm-6">
        <div class="card-body">
            <form method="post">
                <h1>Add Comment</h1>
                {% csrf_token %}
                {{comment_form | crispy}}
                <button class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div> {% endcomment %}

    {% endblock %}